transformers==4.11.2
stanza==1.2
nltk==3.5
typing-extensions==4.8.0
records
paddlepaddle
lac
jionlp
jieba
word2number
cn2an
easynmt
sqlparse
python-Levenshtein
editdistance
fuzzywuzzy
rapidfuzz
rouge
python-dateutil
babel
tabulate
